<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496356726794-2j2adgk65i7lkdccdat2ant19utjgbdm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496356726794-2j2adgk65i7lkdccdat2ant19utjgbdm</string>
	<key>API_KEY</key>
	<string>AIzaSyBXAbwlNVV30uAnwsHMRy3ibfZDl1CPN9o</string>
	<key>GCM_SENDER_ID</key>
	<string>496356726794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xrx.mdst21</string>
	<key>PROJECT_ID</key>
	<string>mdst-todo</string>
	<key>STORAGE_BUCKET</key>
	<string>mdst-todo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496356726794:ios:8642f1cba521bf72e7e7f3</string>
</dict>
</plist>